<ion-header>
    <ion-toolbar id="ion-toolbar">

    </ion-toolbar>
 </ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">username</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
            <ion-button expand="full" shape="round" color="primary">
                Login
            </ion-button>
          </ion-list>

</ion-content>
<ion-footer >
  <ion-toolbar color="primary">
    <ion-title >Login Page</ion-title>
  </ion-toolbar>
</ion-footer>
